#set($className=${table.getClassName()})
#set($entityName=${generatorConfig.getByType("entity").getFileName($className)})
#set($daoName=${generatorConfig.getByType("dao").getFileName($className)})
package ${generatorConfig.getByType("dao").getClassPackage()};

import ${generatorConfig.getByType("entity").getFullName(${className})};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

public interface ${daoName} extends JpaRepository<${entityName}, String>, JpaSpecificationExecutor<${entityName}> {

}
