#set($entityName=${utils.getName("entity")})
#set($daoName=${utils.getName("dao")})
package ${utils.getPackage("dao")};

import ${utils.getFullName("entity")};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

public interface ${daoName} extends JpaRepository<${entityName}, String>, JpaSpecificationExecutor<${entityName}> {

}
