package ${generatorConfig.getFileConfigByName("dao").getPath()};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

public interface ${table.getClassName()}Dao extends JpaRepository<${table.getClassName()}, String>, JpaSpecificationExecutor<${table.getClassName()}> {

}
