#set($queryName=${utils.getName("query")})
#set($entityName=${utils.getName("entity")})
package ${utils.getClassPackage("query")};

import ${utils.getFullName("entity")};
import com.hxl.mvc.query.Query;

import org.springframework.data.domain.Sort;
import org.springframework.data.jpa.domain.Specification;
import org.springframework.util.StringUtils;

import javax.persistence.criteria.Predicate;
import java.util.ArrayList;
import java.util.List;
import java.util.Date;

public class $queryName extends Query<$entityName> {


    public ${queryName}() {
        super(Sort.Direction.ASC, "");
    }

#set($columns=$table.getColumns())
#foreach ($column in $columns)
#if($column.isSearched())
    private $column.getJavaType() $column.getFieldName();
#end
#end

    @Override
    public Specification<$entityName> getSpecification() {
        return (root, query, cb) -> {
            List<Predicate> predicates = new ArrayList<>();
#foreach ($column in $columns)
#if($column.isSearched())
#set($code = $column.getFieldName())
#set($type = $column.getJavaType())
#if($type == "String")
            if (!StringUtils.isEmpty($code)) {
                predicates.add(cb.like(root.get("$code"), "%" + $code + "%"));
            }
#else
            if ($code != null) {
                predicates.add(cb.equal(root.get("$code"), $code));
            }
#end
#end
#end
            return cb.and(predicates.toArray(new Predicate[predicates.size()]));
        };
    }

#foreach ($column in $columns)
#if($column.isSearched())
#set($code = $column.getFieldName())
#set($type = $column.getJavaType())
        public $type $utils.getter($code, $type)() {
            return $code;
        }

        public void $utils.setter($code)($type $code) {
            this.$code = $code;
        }

#end
#end
}
