#set($entityName=${utils.getName("entity")})
#set($queryName=${utils.getName("query")})
#set($daoName=${utils.getName("dao")})
#set($serviceName=${utils.getName("service")})
#set($serviceImplName=${utils.getName("serviceImpl")})
#set($entityFieldName=${utils.getField("entity")})
#set($daoFieldName=${utils.getField("dao")})
package ${utils.getPackage("serviceImpl")};

import ${utils.getFullName("dao")};
import ${utils.getFullName("entity")};
import ${utils.getFullName("query")};
import ${utils.getFullName("service")};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.Page;
import org.springframework.stereotype.Service;

import java.util.List;

@Service
public class $serviceImplName implements $serviceName {

    @Autowired
    private $daoName $daoFieldName;

    @Override
    public Page<$entityName> page($queryName query) {
        return ${daoFieldName}.findAll(query.getSpecification(), query.getPageable());
    }

    @Override
    public void save($entityName $entityFieldName) {
        ${daoFieldName}.save($entityFieldName);
    }

    @Override
    public void update(String id, ${entityName} $entityFieldName) {
        ${entityName} entity = ${daoFieldName}.findOne(id);
#foreach($column in $table.getColumns())
#if($column.isModified())
#set($columnFieldName=$column.getFieldName())
        entity.$utils.setter($columnFieldName)(${entityFieldName}.$utils.getter($columnFieldName, $column.getJavaType())());
#end
#end
        ${daoFieldName}.save(entity);
    }

    @Override
    public void delete(String id) {
        ${daoFieldName}.delete(id);
    }

    @Override
    public ${entityName} findById(String id) {
        return ${daoFieldName}.findOne(id);
    }
}
