#set($name=$table.getName())
#set($entityName=${utils.getName("entity")})
#set($queryName=${utils.getName("query")})
#set($serviceName=${utils.getName("service")})
#set($entityFieldName=${utils.getField("entity")})
package ${utils.getClassPackage("service")};

import ${utils.getFullName("entity")};
import ${utils.getFullName("query")};
import org.springframework.data.domain.Page;

import java.util.List;

public interface $serviceName {

    /**
    * 保存 $name
    * @param $entityFieldName $name
    */
    void save($entityName $entityFieldName);

    /**
    * 更新 $name
    * @param id $name 主键
    * @param $entityFieldName $name
    */
    void update(String id, $entityName $entityFieldName);

    /**
    * 根据主键删除 $name
    * @param id $name 主键
    */
    void delete(String id);

    /**
    * 根据主键查询 $name
    * @param id $name 主键
    * @return $name
    */
    $entityName findById(String id);

    /**
    * $name 分页查询
    * @param query $name 查询参数
    * @return 分页数据
    */
    Page<$entityName> page(${queryName} query);

}
